@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #F3DBC3;
}

/* ANIMATION ENTRÉE */
.fade-in {
    opacity: 0;
    animation: fade-in-animation 1s ease-in forwards;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* IMG HOME */
.image-home-by-sarah-cuisine {
    height: auto;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/image-home.png');
}

/* IMG CLIENT */
.image-client-by-sarah-cuisine {
    height: auto;
    max-width: 100%;
    display: block;
    background-position: center;
    border-bottom: 8px solid #F3DBC3;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/imag-client-blur.png');
}

/* IMG CONTACT */
.image-contact-by-sarah-cuisine {
    height: 300px;
    max-width: 100%;
    display: block;
    border-bottom: 8px solid #d598a0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/imag-contact.png');
}

/* IMG BLUR */
.image-blur-by-sarah-cuisine {
    height: auto;
    max-width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/image-contact-flou.png');
}

/* IMG PAGE NAVBAR */
.image-navbar-pages {
    height: auto;
    max-width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/image-home.png');
}

.bg-devis {
    height: auto;
    max-width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/imag-client-blur.png');
}

/* BG FORM */
.bg-contact {
    background: rgba(243, 219, 195, 0.32);
}

.bg-devis-color {
    background-color: #D598A04F;
}

/* Z-INDEX */
.z-max {
    z-index: 50 !important;
}
